osource "/home/ogu/workspace/prospector/zmk-config-prospector/modules/prospector-zmk-module/boards/shields/*/Kconfig.shield"
osource "/home/ogu/workspace/prospector/zmk-config-prospector/zmk/app/boards/shields/*/Kconfig.shield"
